paper-button{
  text-transform: none;
  text-align: center;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 5px 5px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 10px;
  background-color: #3d6868;
  color: white;
  }
